<h3>Register</h3>
<form method="post">
    <input name="email" placeholder="Email" class="form-control" />
    <input name="password" type="password" placeholder="Password" class="form-control" />
    <select name="role" class="form-control mt-2">
        <option>JobSeeker</option>
        <option>Admin</option>
    </select>
    <button type="submit" class="btn btn-primary mt-3">Register</button>
</form>
